* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: thistle;
}

#div_container_one {
  font-size: 2rem;
  background-color: skyblue;
  width: 16%;
  min-height: 9%;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: 2%;
  min-width: 215px;
}

#div_container_two {
  border-radius: 50px;
  font-size: 1.6rem;
  background-color: white;
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
}

.title {
  padding: 0 5px;
}

.paragraph {
  padding: 30px;
  height: 100%;
}
